p{
  font-family: Consolas;
}

.navbar {
  background-color: transparent !important;
}

  /*FOOTER*/

.footer{
  position: absolute;
  bottom:0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width:550){
  .MuiGrid-item{
     width:1vw;
     padding:5px;
  }
} 

  /*Card*/



