.divContainer{
    width:100%;
 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    background-color: black;
}

.div1{
    display: flex;
    width:20%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}


.div2{
   width:20%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   color: white;
}

.div3{
    color: white;
}

@media screen and (max-width: 600px){
    h3{
        font-size: 80%;
    }
    .div1{
        width:40%;
    }
    .div2{
        width:40%;
    }
}