.divContainerAzul{
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    bottom: 0;
    background-color:#1446A0 !important;
}

.div1{
    display: flex;
    width:20%;
    justify-content: space-between;
}

.div2{
    display: flex;
    flex-direction: row;
    width:40%;
    justify-content: space-around;
}

.div3{
   width:50%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}

.link-divAzul{
    width: 40%;
    color:white !important;
    width:2em;
}

.h3Azul{
    padding-left: 5%;
    color:white !important;
}


@media screen and (max-width: 600px){
    .h3Azul{
        font-size: 80%;
    }
    .div1{
        width:40%;
    }
    .div2{
        width:60%;
    
    }
}